.main {
  width: 500px;
  height: 300px;
  border: 2px solid red;
  margin: auto;
  background-color: bisque;
  position: relative;
  margin-top: 2rem;
}

.navbar {
  padding: 10px 10px;
  background: rebeccapurple;
  font-size: 20px;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  outline: none;
}
