#first{
    color:  red;
    background-color: blue;
}

#second{
    color: brown;
    background: yellowgreen;
}

#third{
    color: rgb(0, 255,90);
    background-color: rgb(255, 255,255,.5);
}

body{
    background:  rgb(45,34,89);
}
/* colores name -140 */